{% extends 'app/dummy.html' %}

{% block title %}
    <title>Detail Page</title>
{% endblock %}

{% block body_block  %}
<h1 style="color: deeppink;">Details Of {{sclobj.name}} object</h1>

<h1>Name of School is {{sclobj.name}}</h1>

<h1>principal of School is {{sclobj.principal}}</h1>
<h1>location of School is {{sclobj.location}}</h1>


<h1>Details of Students </h1>

{% for i in sclobj.students.all %}
    <h6>name of student is {{i.sname}}</h6>
    <h6>age of student is {{i.sage}}</h6>
{% endfor %}
{% endblock %}
